<h1>MySql Todo List</h1>

<form>
    <input type='text' />
    <button>Submit</button>
</form>

<ul>
    {{#each todos}}
        <li>
            {{ description }}
            {{ completed }}
            {{ id }}
        </li>
    {{/each}}
</ul>